{% extends "base.html" %} {% block title %} AES Encryptor/Decryptor - About {%
endblock title %} {% block description %}"Why should you use AES
Encryptor/Decryptor ? How to use ? Who is behind it ?"{% endblock description %}
{% block content %}
<div class="abt_prvc">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h4 class="title-abt text-center">
					About AES Encryptor/Decryptor
				</h4>
				<br />
				<p id="intro" class="text-center">
					AES Encryptor/Decryptor is an online tool that provides a
					simple way to protect sensitive data with a powerful
					encryption algorithm.
				</p>
				<div class="row m-2">
					<div class="col-md m-2">
						<div class="card text-dark h-100">
							<div class="card-body">
								<h5 class="card-title"></h5>
								<p class="font-weight-bold card-text">
									AES Encryptor/Decryptor uses AES which is
									considered one of the strongest algorithms
									available.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md m-2">
						<div class="card text-dark h-100">
							<div class="card-body">
								<h5 class="card-title"></h5>
								<p class="font-weight-bold card-text">
									The encryption process is fast, and the
									website itself is lightweight and easy to
									use.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row m-2">
					<div class="col-md m-2">
						<div class="card text-dark h-100">
							<div class="card-body">
								<h5 class="card-title"></h5>
								<p class="font-weight-bold card-text">
									It's fast and free and open source!
								</p>
							</div>
						</div>
					</div>
					<div class="col-md m-2">
						<div class="card text-dark h-100">
							<div class="card-body">
								<h5 class="card-title"></h5>
								<p class="font-weight-bold card-text">
									AES Encryptor/Decryptor offers no tracking
									mechanisms. This helps to keep your privacy
									safe while browsing on any device or
									computer.
								</p>
							</div>
						</div>
					</div>
				</div>

				<br />
				<h4 class="title-abt text-center">
					How to use AES Encryptor/Decryptor ?
				</h4>
				<div class="row m-2">
					<div class="col-md m-2">
						<div class="card text-dark h-100">
							<div class="card-body">
								<h5
									class="card-title font-weight-bold text-center">
									Text encryption
								</h5>
								<p
									class="font-weight-bold text-center card-text">
									Enter your AES key in the key box, Then
									change the key type as appropriate. Then
									click Encrypt. To decrypt data, The same
									process as the encryption.
								</p>

								<h5
									class="card-title font-weight-bold text-center">
									File encryption
								</h5>
								<p
									class="font-weight-bold text-center card-text">
									Enter your AES key in the key box, Then
									change the key type as appropriate Select
									your file, Then click Upload and Encrypt,
									The same process for the decryption.
								</p>

								<h5
									class="card-title font-weight-bold text-center">
									<u>Important !</u>
								</h5>
								<p
									class="font-weight-bold text-center card-text">
									If you want to read your own encrypted data,
									you'll need to have the same key that was
									used in the encryption.<br />
									So, when you lose or forget the encryption
									key for a file or text,
									<u>it is impossible to recover it.</u>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
